* {
    background-color: black;
    opacity: 0.9;
    color: seashell;
    font-family: helvetica;
    text-align: center;
}

a {
    font-size: 22px;
}

h2 {
    font-size: 29px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

body {
    margin: 0px;
}

header {
    display: flex;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    height: 69px;
    z-index: 1;
}

.header-container {
    margin: 10px;
    justify-content: space-between;
    width: 100%;
    display: inline-flex;
}

.header-link-container {
    display: inline-flex;
    justify-content: space-around;
    width: 400px;
}

.header-link {
    text-decoration: underline;
    display: inline-flex;
    padding: 10px;
    min-width: none;
}

.body {
    display: block;
    z-index: 0;
}

.our-mission-background {
    background-image: url("../tea cozy/imgs/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.our-mission-container {
    display: inline-flex;
    flex-direction: column;
}

.our-mission-item h2, .our-mission-item h4 {
    margin: 10px;
}

.tea-of-the-month {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;
}

.totm-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.totm-item {
    flex-grow: 1;
    max-width: 333.33px;
}

.totm-item-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.totm-item-text h4 {
    margin-top: 10px;
}

.locations {
    background-image: url("./imgs/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.locations-container {
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    width: 980px;
    background-color: transparent;
    opacity: 1;
    display: flex;
}

.locations-item {
    display: inline-flex;
    width: 300px;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    opacity: 1;
}

.locations-item * {
    margin-top: 20px;
    margin-bottom: 20px;
}

.locations-text, .locations-text h2{
    background-color: transparent;
}

.cr {
    text-align: left;
    margin-left: 20px;
}